 <!-- <div class="row">
    <div class="col-sm-12 text-center">
        <img src="../assets/images/EsquemaOCAx.png" alt="...">
    </div>
  </div> -->


<div class="row">
  <div class="col-sm-4">
    <div
      class="card border-primary ml-4 text-center"
      style="max-width: 20rem; max-height: 14rem"
    >
      <!-- <div class="card-header">Solicitar consulta.</div> -->
      <div class="card-body text-primary">
        <h5 class="card-title">Solicitar consulta a traves del OCM.</h5>
        <p class="card-text">
         Envianos el texto de la consulta que quieres realizar, nosotros realizaremos la consulta y te mantendremos informado.
        </p>
        <a href="#" class="btn btn-primary">Solicitar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div
      class="card border-primary ml-4 text-center"
      style="max-width: 18rem; max-height: 12rem"
    >
      <!-- <div class="card-header">Solicitar consulta.</div> -->
      <div class="card-body text-primary">
        <h5 class="card-title">Mis consultas</h5>
        <p class="card-text">
          Consultar las consultas realizadas por el usuario.
        </p>
        <a href="#" class="btn btn-success">Ver</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div
      class="card border-primary ml-4 text-center"
      style="max-width: 18rem; max-height: 12rem"
    >
      <!-- <div class="card-header">Solicitar consulta.</div> -->
      <div class="card-body text-primary">
        <h5 class="card-title">Todas las consultas.</h5>
        <p class="card-text">
          Listados de todas las consultas realizadas por el OCM.
        </p>
        <a href="#" class="btn btn-danger">Ver</a>
      </div>
    </div>
   <div>
   </div>
  </div>
</div>
