<div class="login-page">
    <div class="form">
        <!-- <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form> -->


        <!-- <form class="login-form">
            <img class ="logo" src="../../../assets/images/IconoOCM.png">
            <input type="text" class="form-control" name="userName" #userNameInput="ngModel" [(ngModel)]="empleado.userName" maxlength="50" placeholder="Nombre de Usuario">
            <input type="password" class="form-control" name="password" #lastNameInput="ngModel" [(ngModel)]="empleado.password" maxlength="12" placeholder="Password">
            <button type="button" mat-raised-button class="mat-cancel" (click)="login()">
              <fa-icon [icon]="'user'"></fa-icon>&nbsp;<span>Ingreso</span>
            </button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form> -->

        <form class="login-form">
            <img class ="logo" src="../../../assets/images/IconoOCM.png">

             <!-- No funciona.
            https://fireship.io/snippets/improving-long-relative-paths-imports/
            https://escuela.it/cursos/curso-angular-8/clase/modulos-en-angular
            <img class ="logo" src="@images/IconoOCM.png"> -->

            <input type="text" class="form-control" name="userName" maxlength="50" placeholder="Nombre de Usuario">
            <input type="password" class="form-control" name="password" maxlength="12" placeholder="Password">
            <button type="button" mat-raised-button class="mat-cancel" >
              <span>Ingreso</span>
            </button>
            <p class="message">¿No estas registrado? <a href="#">Crea una cuenta</a></p>
        </form>


    </div>
</div>
