<!-- <mat-card> -->

  <h1>Registro.</h1>
  <!-- <form>
      <div class="emailBox">
        <label for="email">Your e-mai address</label><br>
        <input id="email" type="email" name="email" size="64" [(ngModel)]="email" #email="ngModel" maxLength="64" required
               placeholder="username@beststartupever.com"
               title="Please provide only a Best Startup Ever corporate e-mail address">

               <div *ngIf="email.invalid">
                  <small class="form-text text-danger" *ngIf="email.errors.required"
                          >
                      Your email is required.
                  </small>
                  <small class="form-text text-danger" *ngIf="email.errors.invalid"
                         >
                      Your email is invalid.
                  </small>
                  <small class="form-text text-danger" *ngIf="email.errors.minlength"
                         >
                      Your email is required to be at least 5 characters.
                  </small>
                  <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                         >
                      Your email cannot be longer than 100 characters.
                  </small>
              </div>

      </div>

      <div class="messageBox">
        <label for="message">Request</label><br>
        <textarea id="message" cols="80" rows="8" required
                  placeholder="My shoes are too tight, and I have forgotten how to dance."></textarea>
      </div>
       <input type="submit" value="Send Request">
     </form> -->






  <!-- <mat-card-content>
    <form novalidate [formGroup]="form" class="auth-form">
      <mat-form-field>
        <input placeholder="Digite tu correo" matInput type="email" formControlName="email">
        <mat-error *ngIf="emailField.hasError('required')" >
          El campo es obligatorio
        </mat-error>
        <mat-error *ngIf="emailField.hasError('email')" >
          Debe ser un email valido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Digite tu password" matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordField.hasError('required')" >
          El campo es obligatorio
        </mat-error>
        <mat-error *ngIf="passwordField.hasError('minlength')" >
          Minimo debe tener 8 letras
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Confirma tu password" matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="confirmPasswordField.hasError('required')" >
          El campo es obligatorio
        </mat-error>
        <mat-error *ngIf="confirmPasswordField.hasError('minlength')" >
          Minimo debe tener 8 letras
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordNotValid')" >
          El password no es igual
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" type="button" [disabled]="form.invalid">Registrar</button>
  </mat-card-actions> -->
<!-- </mat-card> -->
