p {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: inline;
}

.shadow {
  -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 5px 0px rgba(240, 43, 8, 0.75);
}

@media only screen and (max-width: 1000px) {
  p {
      font-size: 10px;

  }
}
