<div style="text-align:center; margin-bottom: 10px;">
  <button (click)="deleteSelected()">Borrar</button>
  <button style="margin-left: 10px" (click)="updateSelected()">Editar</button>
  <!-- <button style="margin-left: 10px" (click)="createUser()">Create</button> -->
  </div>

  <ag-grid-angular
  #agGrid
  style="width: 900px; height: 650px; margin: auto"
  class="ag-theme-balham"
  [rowData]="solicitudes"
  [columnDefs]="columnDefs"
  [autoGroupColumnDef]="autoGroupColumnDef"
  (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
