<!-- <div class="row" style = "margin: auto">
    <div class="col-sm-12">
      <div
        class="card border-primary ml-4 text-center"
        style="height: 18rem"
      >
       <div class="card-body text-primary">
          <h5 class="card-title">Información de la solicitud</h5>
          <div class="flex-container">
              <div class="">
               <h6  style="margin-left: 2px; width: 125px"> Fecha solicitud:</h6>
               <h6 style="margin-left: 2px; width: 125px">12/11/2019</h6>
               <h6  style="margin-left: 2px; width: 175px"> Días transcurridos:</h6>
                  <h6 style="margin-left: 2px; width: 125px">12</h6>
              </div>
              <div>
                  <h6  style="margin-left: 2px; width: 175px"> Estado actual:</h6>
                  <h6 style="margin-left: 2px; width: 250px" > Espera autorizacion</h6>
                  <h6  style="margin-left: 2px; width: 175px"> Días transcurridos:</h6>
                  <h6 style="margin-left: 2px; width: 125px">12</h6>
              </div>
              <div>
                3
              </div>
              <div class="row">
                  <h6  style="margin-left: 2px; width: 125px"> Fecha solicitud:</h6>
                  <h6 style="margin-left: 2px; width: 125px">12/11/2019</h6>
                  <h6  style="margin-left: 2px; width: 175px"> Días transcurridos:</h6>
                     <h6 style="margin-left: 2px; width: 125px">12</h6>
                 </div>


        </div>

      </div>
    </div> -->

<div class="container">
  <h1>Información de la solicitud</h1>
  <div class="row justify-content-start">
    <div class="col-2 recuadro">
      <h6 style="margin-left: 2px; width: 125px">Fecha solicitud:</h6>
      <h6 style="margin-left: 2px; width: 125px">12/11/2019</h6>
      <h6 style="margin-left: 2px; width: 175px">Días transcurridos:</h6>
      <h6 style="margin-left: 2px; width: 125px">12</h6>
    </div>
    <div class="col-2 recuadro">
      One of two columns
    </div>
    <div class="col-2 recuadro">
      One of two columns
    </div>
    <div class="col-2 recuadro">
      One of two columns
    </div>
    <div class="col-2 recuadro">
      One of two columns
    </div>
    <div class="col-2 recuadro">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 recuadro">
      Cabecera:
    </div>
    <div class="col-10 recuadro">
      Texto de la cabecera de la solicitud.
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-2 recuadro">
      Texto
    </div>
    <div class="col-10 recuadro">
      Texto completo.
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-4 recuadro">
    1
    </div>
    <div class="col-4 recuadro">
      2
    </div>
  </div>

  <div class="row justify-content-start">
      <div class="col-4 recuadroCabecera">
          <p class="cabecera">
                   Ayuntamiento.
              </p>
      </div>
      <div class="col-4 recuadroCabecera">
        <p class="cabecera">
       Consejo Transparencia Andalucía.
       </p>
      </div>
      <div class="col-4 recuadroCabecera">
          <p class="cabecera">
                 Defensor del Pueblo Andalucía.
      </p>
      </div>
    </div>

   <!-- Ayuntamiento -->
    <div class="row justify-content-between">
    <div class="col-1 recuadro">
        <p>
            Solicitud
            inicial
          </p>
    </div>
    <div class="col-1 recuadro">
     <p>
       Inicio
       expediente
     </p>
    </div>
    <div class="col-1 recuadro">
        <p>
     Subsanaciones
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
     Respuesta
        </p>
    </div>

      <!-- Consejo -->
    <div class="col-1 recuadro">
        <p>
     Reclamación
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
        Inicio expediente
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
        Subsanaciones
        </p>
      </div>
      <div class="col-1 recuadro">
          <p>
              Respuesta
            </p>
      </div>

      <!-- Defensor -->
      <div class="col-1 recuadro">
          <p>
        Reclamación
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
      Inicio expediente
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
     Subsanaciones
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
        Respuesta
         </p>
      </div>
  </div>
</div>

<!-- <a href="#" class="btn btn-primary">Solicitar</a> -->
