<form>
<div class="container">
  <h1 class="text-center">Información de la solicitud.</h1>
  <div class="row justify-content-start">
    <div class="col-2 recuadro1">
      <h6>Fecha solicitud:</h6>
      <input type="text" style="width: 86px" placeholder="12/11/2019">
           <h6>Días transcurridos:</h6>
           <input type="text" style="width: 20px" placeholder="12">
    </div>
    <div class="col-4 recuadro1">
      Organismo
      <input type="text" style="width: 320px" placeholder="Ayuntamiento.">
      <h6>Días transcurridos:</h6>
      <input type="text" style="width: 20px" placeholder="12">
    </div>
    <div class="col-4 recuadro1">
        Estado actual
        <input type="text" style="width: 320px" placeholder="Esperando respuesta.">
        <h6>Días transcurridos:</h6>
        <input type="text" style="width: 20px" placeholder="12">
      </div>
    <!-- <div class="col-2 recuadro">
      One of two columns
    </div> -->
  </div>

  <!-- Segunda fila -->
  <div class="row justify-content-center" style="height: 25px">
    <div class="col-2 recuadro">
      Cabecera:
    </div>
    <div class="col-10 recuadro">
      Texto de la cabecera de la solicitud.
    </div>
  </div>

  <!-- Tercera fila -->
  <div class="row justify-content-end" style="height: 125px">
    <div class="col-2 recuadro">
      Texto
    </div>
    <div class="col-10 recuadro">
      Texto completo.
    </div>
  </div>

  <!-- Cuarta fila -->
  <!-- <div class="row justify-content-around">
    <div class="col-4 recuadro">
    1
    </div>
    <div class="col-4 recuadro">
      2
    </div>
  </div> -->

  <!-- Cabecera fases -->
  <div class="row justify-content-start">
      <div class="col-4 recuadroCabecera">
          <p class="cabecera">
                   Ayuntamiento.
              </p>
      </div>
      <div class="col-4 recuadroCabecera">
        <p class="cabecera">
       Consejo Transparencia Andalucía.
       </p>
      </div>
      <div class="col-4 recuadroCabecera">
          <p class="cabecera">
                 Defensor del Pueblo Andalucía.
      </p>
      </div>
    </div>

   <!-- Ayuntamiento -->
    <div class="row justify-content-between" style="height: 125px">
    <div class="col-1 recuadro">
         <input type="text" style="width: 20px" placeholder="12">
         <br>
         <span style="color:blue;  font-size: 10px;">
              Solicitud inicial
        </span>
        <br>
          <button style="margin-left: 10px" (click)="aytoSoliIni()">Ver</button>

    </div>
    <div class="col-1 recuadro">
     <p>
       Inicio
       expediente
     </p>
    </div>
    <div class="col-1 recuadro">
        <p>
     Subsanaciones
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
     Respuesta
        </p>
    </div>

      <!-- Consejo -->
    <div class="col-1 recuadro">
        <p>
     Reclamación
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
        Inicio expediente
        </p>
    </div>
    <div class="col-1 recuadro">
        <p>
        Subsanaciones
        </p>
      </div>
      <div class="col-1 recuadro">
          <p>
              Respuesta
            </p>
      </div>

      <!-- Defensor -->
      <div class="col-1 recuadro">
          <p>
        Reclamación
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
      Inicio expediente
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
     Subsanaciones
</p>
      </div>
      <div class="col-1 recuadro">
          <p>
        Respuesta
         </p>
      </div>
  </div>
</div>
</form>

<!-- <a href="#" class="btn btn-primary">Solicitar</a> -->
