<header class="title">
    <h1>Formulario de registro.</h1>
  </header>

  <div>
    <div class="row col-12">
      <div class="col-3"></div>
      <div class="col-4">
        <form novalidate [formGroup]="form">
          <div class="">
            <div class="row mb-0">
              <div class="col-4">
                <label>Nombre:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Introduce tu nombre"
                  matInput
                  type="text"
                  formControlName="nombre"
                  class="form-control"
                />
                <mat-error *ngIf="nombreField.hasError('required')">
                  Obligatorio.
                </mat-error>
                <mat-error *ngIf="nombreField.hasError('minlength')">
                  Minimo debe tener 5 letras.
                </mat-error>
              </div>
            </div>
          </div>

          <div class="">
            <div>
              <div class="row mb-0 mt-0">
                <div class="col-4">
                  <label>Primer apellido:</label>
                </div>
                <div class="col-8">
                  <input
                    placeholder="Primer apellido"
                    matInput
                    type="text"
                    formControlName="apellido1"
                    class="form-control"
                  />
                  <mat-error *ngIf="apellido1Field.hasError('required')">
                    Obligatorio.
                  </mat-error>
                  <mat-error *ngIf="nombreField.hasError('minlength')">
                    Minimo debe tener 3 letras.
                  </mat-error>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-4">
                <label id="labelSegundoApellido">Segundo apellido:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Segundo apellido"
                  matInput
                  type="text"
                  formControlName="apellido2"
                  class="form-control"
                />
                <mat-error>
                  Opcional.
                </mat-error>
                <mat-error *ngIf="apellido2Field.hasError('minlength')">
                  Minimo debe tener 3 letras.
                </mat-error>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-4">
                <label>Correo electrónico:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Correo electrónico"
                  matInput
                  type="email"
                  formControlName="email"
                  class="form-control"
                />
                <mat-error *ngIf="emailField.hasError('required')">
                  Obligatorio.
                </mat-error>
                <mat-error *ngIf="emailField.hasError('email')">
                  Debe ser un email valido.
                </mat-error>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-4">
                <label>Nombre usuario:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Nombre usuario"
                  matInput
                  type="text"
                  formControlName="userName"
                  class="form-control"
                />
                <mat-error *ngIf="userNameField.hasError('required')">
                  Obligatorio.
                </mat-error>
                <mat-error *ngIf="userNameField.hasError('minlength')">
                  Mínimo debe tener 3 caracteres.
                </mat-error>
                <mat-error *ngIf="userNameField.hasError('maxlength')">
                  Máximo debe tener 12 caracteres.
                </mat-error>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-4">
                <label>Password:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Introduce tu password"
                  matInput
                  type="password"
                  formControlName="password"
                  class="form-control"
                />
                <mat-error *ngIf="passwordField.hasError('required')">
                  Obligatorio.
                </mat-error>
                <mat-error *ngIf="passwordField.hasError('minlength')">
                  Minimo debe tener 8 caracteres.
                </mat-error>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row">
              <div class="col-4">
                <label>Confirma password:</label>
              </div>
              <div class="col-8">
                <input
                  placeholder="Confirma tu password"
                  matInput
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                />
                <mat-error *ngIf="confirmPasswordField.hasError('required')">
                  Obligatorio.
                </mat-error>
                <mat-error *ngIf="confirmPasswordField.hasError('minlength')">
                  Minimo debe tener 8 caracteres.
                </mat-error>
                <mat-error *ngIf="form.hasError('passwordNotValid')">
                  ¡El password no es igual!
                </mat-error>
              </div>
            </div>
          </div>

          <div class="col-3"></div>

          <div class="row" style="margin-top: 40px">
            <div class="col-12">
              <!-- <a [routerLink]="['/politica']">Leer politica</a> -->
              <a
                onmouseover="this.style.cursor='pointer'"
                onmouseout="this.style.cursor='default'"
                (click)="leerPolitica()"
                style="color:blue"
              >
                Leer política.
              </a>

              <div class="checkbox">
                <input type="checkbox" />
                <h6 id="textoLegal">
                  Acepto los terminos de Uso y Protección de Datos.
                </h6>
              </div>

              <div>
                <!-- <p *ngIf="form.invalid">form.invalid</p> -->
                <button
                  (click)="signUp()"
                  type="button"
                  [disabled]="form.invalid"
                >
                  Registrarme
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="col-2 sidebar">
        <img src="../../../assets/images/IconoOCM.png" alt="imagen" />
      </div>

      <div class="col-3"></div>
    </div>
  </div>
