<div class="container">
   <div class="inner" >
    <form novalidate [formGroup]="form">
      <!-- <form action=""> -->
      <h3>Formulario de registro.</h3>

      <div class="form-wrapper">
        <label >Nombre</label>
        <input
          nombre
          placeholder="Nombre"
          matInput
          type="text"
          formControlName="nombre"
          class="form-control"
        />
        <mat-error *ngIf="nombreField.hasError('required')">
          El campo es obligatorio
        </mat-error>
        <mat-error *ngIf="nombreField.hasError('minlength')">
          Minimo debe tener 5 letras.
        </mat-error>
      </div>

      <div class="form-wrapper">
        <input
          placeholder="Primer apellido"
          matInput
          type="text"
          formControlName="apellido1"
          class="form-control"
        />
        <mat-error *ngIf="apellido1Field.hasError('required')">
          El campo es obligatorio.
        </mat-error>
        <mat-error *ngIf="nombreField.hasError('minlength')">
          Minimo debe tener 3 letras.
        </mat-error>
      </div>

      <div class="form-wrapper">
        <input
          placeholder="Segundo apellido"
          matInput
          type="text"
          formControlName="apellido2"
          class="form-control"
        />
        <mat-error *ngIf="apellido2Field.hasError('minlength')">
          Minimo debe tener 3 letras.
        </mat-error>
      </div>

      <div class="form-wrapper">
        <input
          placeholder="Correo electrónico"
          matInput
          type="email"
          formControlName="email"
          class="form-control"
        />
        <mat-error *ngIf="emailField.hasError('required')">
          El campo es obligatorio
        </mat-error>
        <mat-error *ngIf="emailField.hasError('email')">
          Debe ser un email valido.
        </mat-error>
      </div>

      <div class="form-wrapper">
        <input
          placeholder="Nombre usuario"
          matInput
          type="text"
          formControlName="nombreUser"
          class="form-control"
        />
        <mat-error *ngIf="nombreUserField.hasError('required')">
          El campo es obligatorio.
        </mat-error>
        <mat-error *ngIf="nombreUserField.hasError('minlength')">
          Mínimo debe tener 3 caracteres.
        </mat-error>
        <mat-error *ngIf="nombreUserField.hasError('maxlength')">
          Máximo debe tener 12 caracteres.
        </mat-error>
      </div>

      <div class="form-wrapper">
        <input
          placeholder="Digite tu password"
          matInput
          type="password"
          formControlName="password"
          class="form-control"
        />
        <mat-error *ngIf="passwordField.hasError('required')">
          El campo es obligatorio.
        </mat-error>
        <mat-error *ngIf="passwordField.hasError('minlength')">
          Minimo debe tener 8 caracteres.
        </mat-error>
      </div>
      <div class="form-wrapper">
        <input
          placeholder="Confirma tu password"
          matInput
          type="password"
          formControlName="confirmPassword"
          class="form-control"
        />
        <mat-error *ngIf="confirmPasswordField.hasError('required')">
          El campo es obligatorio.
        </mat-error>
        <mat-error *ngIf="confirmPasswordField.hasError('minlength')">
          Minimo debe tener 8 caracteres.
        </mat-error>
        <mat-error *ngIf="form.hasError('passwordNotValid')">
          ¡El password no es igual!
        </mat-error>
      </div>
      <div class="checkbox">

        <label>
          <input type="checkbox" /> Acepto los terminos de Uso y Protección de
          Datos.
          <span class="checkmark"></span>
        </label>
      </div>
    </form>
    <button (click)="signUp()" type="button" [disabled]="form.invalid">
      Registrarme
    </button>
  </div>
</div>
