		<body>
    <!-- <div class="wrapper" style="background-image: url('./images/bg-registration-form-2.jpg');"> -->
      <div class="wrapper">
			<div class="inner">
				<form action="">
					<h3>Formulario de registro.</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">Nombre</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Apellidos</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control">
          </div>
          <div class="form-wrapper">
						<label for="">Nombre de usuario</label>
						<input type="text" class="form-control">
          </div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Confirma Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Acepto los terminos de Uso y Protección de Datos.
							<span class="checkmark"></span>
						</label>
					</div>
					<button>Registrarme</button>
				</form>
			</div>
		</div>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
