<div class="card" style="width: 500px; margin: auto; margin-top: 100px">
    <div class="card-header">
      <h4 id="labelHeader">Crear o editar Línea de Envasado</h4>
    </div>
    <div class="row card-body col-12  justify-content-center">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="form-group">
          <!-- <input id="Descripcion" type="text" class="form-control" name="nombre" #descripcionInput="ngModel"
            [(ngModel)]="lineaEnvasado.descripcion" required minlength="1" maxlength="50" placeholder="Descripción"> -->
          <!-- <div *ngIf="descripcionInput.dirty && descripcionInput.invalid"> -->
              <!-- <small class="form-text text-danger" *ngIf="descripcionInput.errors.required"> -->
              <!-- Nombre es requerido
            </small> -->
          <!-- </div> -->
        </div>
        <div id="botonesCrear" class=" row col-12 justify-content-center">
          <button type="button" class="btn btn-danger btn-sm mr-2" >
            <!-- <fa-icon [icon]="'ban'"></fa-icon> -->
            &nbsp;<span>Cancelar</span>
          </button>
          <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <!-- <fa-icon [icon]="'save'"></!--> -->
            &nbsp;<span>Grabar</span>
          </button>
        </div>
      </form>
    </div>
  </div>

