/* --------------------------------------------------------------------------------------------- */
/* https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
/* Para mantener el footer abajo. */
/* * {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 } */
 html,
 body {
  height: 100%;
  position: relative;
 }
 .main-container {
  /* width: 90%; */
  /* max-width: 860px; */
  margin: 1.6em auto;
   min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;  /* Esta propiedad especifica si se recorta el contenido o añadir barras de desplazamiento cuando el contenido de un elemento es demasiado grande para caber en un área especificada. */
  display: grid;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  margin-left: 40px;
 }
/* ---------------------------------------------------------------------------------------------- */
